@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
}

/*---navbar styling---*/
.navbar {
font-size: 20px;
border-bottom: 1px solid black;
}

.navbar-brand {
font-size: 25px;
letter-spacing: none;
color: black;
font-family: 'Akaya Telivigala', cursive;
}

.navbar-brand:hover {
color: black;
transform: scale(1.12);
 -webkit-transform: scale(1.03);
 }

.nav-link{
color: black;
font-size: 25px;
font-family: 'Akaya Telivigala', cursive;
margin-left: 40px;
}

.nav-link:hover {
color: black;
transform: scale(1.08);
-webkit-transform: scale(1.08);
}

div.hero-image {
background-image: url("https://lp-cms-production.imgix.net/2019-06/479710035_high.jpg");
height: 800px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
}

div#text-block-header{
text-align: center;
color: white;
font-family: 'Akaya Telivigala', cursive;
font-size: 70px;
letter-spacing: 1px;
}

#hello-button {
padding: 10px;
border-radius: 15px;
font-size: 20px;
font-family: 'Akaya Telivigala', cursive;
color: black;
border: 1px solid black;
background-color: white;
text-align: center;
}